# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/sycfqevu/python"
PassengerBaseURI "/serve"
PassengerPython "/home/sycfqevu/virtualenv/python/3.5/bin/python3.5"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
